.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: red;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.row {
  display: flex;
}

table {
  width: 100%;
}

.page-dashboard {
  display: flex;
  height: 100%;
  width: 100%;
}

